@use '../abstratcs/' as *;

.link{
  color: $info-alt;
  position: relative;
  transition: .4s;
  &:hover{
    color: $white;
    transition: .4s;
    &::before{
      border-bottom: 1px solid $white;
    }
    &::after{
      background-image: url('../images/icon-arrow-white.svg');      
    }
  }
  &::before{
    content: '';
    width: 100%;
    border-bottom: 1px solid $info-alt;
    position: absolute;
    bottom: rem(-5);
    left: 0;
    transition: .4s;
  }
  &::after{
    content: '';
    background-image: url('../images/icon-arrow.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: rem(8);
    transition: .4s;    
  }
  
}